.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #f3f4f6, #e3e7ed);
}

.auth-box {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 10px;
}
